* {
  box-sizing: border-box
}    

body {display: block;
margin: 8px;
}

header {
  position: relative;
  width: 100%;
  background-color: #294969;
  color:  ghostwhite;}

div {
  border-style: ridge inset;
  padding: 5px;
  border-color:#cf1919;
  margin: 30px 0 10px;
 font-size: x-large;
  color:tomato;
  text-align: center;
  
}


  section {
    min-height: 100vh;
    padding: 1rem;
    border-bottom: 2px dotted #666;
    background-color: azure;
    text-align: center;
  }

p {
  color:coral;
  text-align: center;

}




.pupperimg {
  position: relative;
  z-index: 2;
  width: 100%;
 }


/* Tablet */


  @media screen and (min-width: 600px) {
    body {
        display: block;
        background: rgb(0, 247, 255);
    }

}

  
/* Desktop */

@media screen and (min-width: 1000px) {
    body {
        display: block;
        background: rgb(0, 247, 255);
    }  
}