* {
  box-sizing: border-box;
}    


header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border-style: ridge;
  border-color:#cf1919;
 font-size: x-large;
  color:tomato;
  text-align: center;
 }



 p {
  color:rgb(63, 63, 44);
  text-align: center;

}



  section {
    position: absolute;
    min-height: 50vh;
    padding: 1rem;
    text-align: center;
  }

 h1 {
  position: relative;
  margin-top: 80px;
  text-align: center;
 
  }

a {
 display:block;

}






.alphabetsoup {
  position: relative;
  width: 100%;
  max-width: 600px;
 }


/* Tablet */


  @media screen and (min-width: 600px) {
    body {
        display: inline-block;

    }
 .alphabetsoup {
     max-width: 600px;

 }
}

  
/* Desktop */

@media screen and (min-width: 1000px) {
    body {
        display: inline-block;
 
    }  
   .alphabetsoup {
     max-width: 100%;
   }
}